nav{
    display: flex;
    background-color: rgb(25, 34, 49);
    justify-content: space-between;
    align-items: baseline;
    margin: 0rem 3rem;
}

.ironImg{
    margin: 1rem 0rem 0rem 0rem
}
.menuImg{
    height: 0.6rem;
}